@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

.tarjetas {
    margin-top: 3em;
}

.row {
    text-align: center;
}

.row+.row {
    margin-top: 3em;
}

.ficha {
    display: flex;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.title2 {
    font-weight: bold;
    font-size: 20px;
}

.bio li {
    padding: 10px;
    list-style: none;
}

.bor {
    height: 60vh;
    width: 60vh;
    padding-top: 10px;
}

.menu-icon {
    color: white;
    padding-right: 0.5em;
}

.navbar {
    padding-left: 0.5em;
    color: white;
    background-color: #2e2e33;
}

.nav-link {
    color: white !important;
}

.menu-categorias {
    justify-content: center;
}

.btn-info {
    background-color: #808080;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.imagen1 {
    max-width: 100%;
    margin-top: 30px;
}

.formulario {
    margin-top: 30px;
    border: 1px solid #808080;
}

.imagen {
    align-self: center;
}
