body {
    background-color: #2B2E39;
}

.letras {
    color: #ffffff;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
    width: 20%;
    font-weight: bold;
}

.letras :hover {
    color: #c0c0c0;
}